extends base.jade

block webfonts

block styles
    link(href="/assets/css/question-problem-error.css", rel="stylesheet", type="text/css")

block scripts
    script
        include:uglify ../assets-dev/js/question-problem-error.js
