$icon
    font-family: 'Icons'
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

$icon-envelope
    content: "\f0e0"

$icon-linkedin
    content: "\f0e1"

$icon-keyboard-o
    content: "\f11c"

$icon-microphone
    content: "\f130"

$icon-bullseye
    content: "\f140"

$icon-xing
    content: "\f168"

$icon-child
    content: "\f1ae"

$icon-behance
    content: "\f1b4"

$icon-sliders
    content: "\f1de"

$icon-plug
    content: "\f1e6"

