/**
 * + Typo
 * =====================================================================
 */

$text-sans
    font-family: font-family.sans-serif

$text-mono
    font-family: font-family.monospace

$text-champagne
    font-family: font-family.champagne

$font-style__headline
    font-weight: 700
    //text-transform: uppercase
    letter-spacing: .05em

/* = Typo */


/**
 * + Logo
 * =====================================================================
 */

$logo-text
    @extends $text-champagne
    font-weight: normal

$logo-text--pseudo
    @extends $logo-text
    content: 'electroC'
    display: inline

$logo-img
    width: 100%
    max-width: unit(images.logo.size[0], 'px');

    &::before
        display: block;
        content: '';
        width: 100%;
        padding-bottom: (100% / images.logo.ratio);
        background: images.logo.dataUri center center no-repeat;
        background-size: cover

/* = Logo */


/**
 * + Basic extendables
 * =====================================================================
 */

$img-responsive
    display: block
    max-width: 100%
    height: auto

/* = Basic extendables */


/**
 * + Buttons
 * =====================================================================
 */

$btn
    @extends $font-style__headline
    font-weight: normal
    display: inline-block
    border: 1px solid alpha(colors.link, .15)
    padding: .6em .8em
    border-radius: 2px
    text-align: center
    cursor: pointer
    &:hover
        border-color: colors.link

$btn__icon
    @extends $icon
    margin-right: .5em

/* = Buttons */


/**
 * + Grid containers
 * =====================================================================
 */

.row
    @extends $row

/* = Grid containers */


/**
 * + Basic HTML Elements
 * =====================================================================
 */

html, body
    height: 100%

html
    background: colors.background

body
    @extends $text-mono
    improved-text-rendering()
    position: relative
    padding: (grid-config.gutter-width / 2)
    background: transparent
    line-height: line-height.normal
    color: colors.foreground
    font-size: 14px
    +mq-bp(md, min)
        font-size: 16px

.background-texture
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -1;

a
    text-decoration: none
    color: colors.link

/* = Basic HTML Elements */


/**
 * + Page Section
 * =====================================================================
 */

// .page-section

.page-section__container
    max-width: 940px
    background: colors.background

.page-section__content
    margin-left: auto
    margin-right: auto
    padding: (grid-config.gutter-width / 2)
    width: 100%
    max-width: 800px
    +mq-bp(sm, min)
        padding: grid-config.gutter-width

/* = Page Section */


/**
 * + Headlines
 * =====================================================================
 */

.headline-container
    border-top: 3px double #808080

.headline
    @extends $font-style__headline

    &::before
        content: '#'
        display: inline-block
        margin-right: .45em

    &--projects::before
        @extends $icon, $icon-sliders

    &--contact::before
        @extends $icon, $icon-child

/* = Headlines */


/**
 * + Header
 * =====================================================================
 */

.page-section--header > .page-section__container > .row
    +mq-bp(xsl, min)
        display: flex
        align-items: stretch

.site-title,
.site-avatar
    @extends $col-xs-24, $col-xsl-12
    +mq-bp(xsl, min)
        display: flex
        justify-content: center
        flex-direction: column


.site-title
    @extends $text-mono
    font-size: 16px
    text-align: center
    margin: 1em auto 1.5em
    +mq-bp(xsl)
        font-size: (16px / 3 * 3.5)
    +mq-bp(sm)
        font-size: (16px / 3 * 4)
    +mq-bp(md, min)
        font-size: (16px / 3 * 5)

    &::before
        @extends $logo-text--pseudo
        line-height: 1
        font-size: 3em;
        display: block
        margin: 0 auto .2em auto


.avatar
    border-radius: 50%
    overflow: hidden
    height: auto
    margin: 0 auto 30px auto
    width: 100%
    max-width: 80%
    +mq-bp(xsl, min)
        margin-top: 30px

.avatar__img
    @extends $img-responsive

/* = Header */


/**
 * + Profile Buttons
 * =====================================================================
 */

.profile-items
    @extends $row
    margin-top: -(grid-config.gutter-width / 2)
    +mq-bp(xsl)
        margin-left: 0
        margin-right: 0
        margin-bottom: (grid-config.gutter-width / 2)

.profile-item
    @extends $col-xs-24, $col-xsl-12, $col-md-6
    margin-top: (grid-config.gutter-width / 2)
    +mq-bp(xsl)
        margin-top: grid-config.gutter-width


.profile-item__link
    @extends $btn
    display: block

    &::before
        @extends $btn__icon

    &--cv_pdf::before
        @extends $icon-child

    &--projects_pdf::before
        @extends $icon-sliders

    &--linkedin::before
        @extends $icon-linkedin

    &--xing::before
        @extends $icon-xing

/* = Profile Buttons */


/**
 * + Projects
 * =====================================================================
 */

// .project-items

.project-item
    border-top: 1px solid #ddd

.project
    position: relative

.project__year
    @extends $font-style__headline
    position: absolute
    top: (grid-config.gutter-width / 2)
    left: (grid-config.gutter-width / 2)
    +mq-bp(sm, min)
        top: grid-config.gutter-width
        left: grid-config.gutter-width

.project__title
    @extends $font-style__headline
    margin-bottom: .23em
    margin-left: 3.5em
    &::before
        content: '#'
        color: #808080
        display: inline-block
        margin-right: .45em

.project__images
    +mq-bp(xsl, min)
        display: flex
        justify-content: space-between

.project-image
    display: block
    margin-top: (grid-config.gutter-width / 2)

.project-image__link
    display: block

.project-image__img
    @extends $img-responsive

// .project__links

// .project-link

// .project-link__link

/* = Projects */


/**
 * + Contact
 * =====================================================================
 */

.contact-address,
.contact-items
    @extends $col-xs-24, $col-xsl-12

.contact-item
    +mq-bp(xs)
        margin-top: (grid-config.gutter-width / 2)
    + .contact-item
        margin-top: (grid-config.gutter-width / 2)
        +mq-bp(sm, min)
            margin-top: grid-config.gutter-width

.contact-item__link
    @extends $btn
    display: block
    margin: 0 auto
    width: 100%
    +mq-bp(sm, min)
        max-width: 75%

    &::before
        @extends $btn__icon

    &--email::before
        @extends $icon-envelope

    &--phone::before
        @extends $icon-microphone

/* = Contact */


/**
 * + Footer
 * =====================================================================
 */

.page-section--footer .page-section__content
    text-align: center

.link-home
    @extends $logo-text
    font-size: 24px

/* = Footer */

