$text-sans
    font-family: font-family.sans-serif

$text-mono
    font-family: font-family.monospace

$text-champagne
    font-family: font-family.champagne

$logo-text
    @extends $text-champagne
    font-weight: normal

$logo-text--pseudo
    @extends $logo-text
    content: 'electroC'
    display: inline

$logo-img
    width: 100%
    max-width: unit(images.logo.size[0], 'px');

    &::before
        display: block;
        content: '';
        width: 100%;
        padding-bottom: (100% / images.logo.ratio);
        background: images.logo.dataUri center center no-repeat;
        background-size: cover

$img-responsive
    display: block
    max-width: 100%
    height: auto

$page-container
    max-width: 940px
    background: colors.background
    margin: (grid-config.gutter-width / 2) 0

$content-container
    margin-left: auto
    margin-right: auto
    padding: (grid-config.gutter-width / 2)
    width: 100%
    +mq-bp(sm, min)
        padding: grid-config.gutter-width
    +mq-bp(md, min)
        width: 82%

$btn
    display: inline-block
    border: 1px solid alpha(colors.link, .15)
    padding: .6em .8em
    border-radius: 2px

$btn__icon
    @extends $icon
    margin-right: .6em


html, body
    height: 100%

html
    background: colors.background

body
    @extends $text-mono
    improved-text-rendering()
    position: relative
    padding: 0 (grid-config.gutter-width / 2)
    background: transparent
    line-height: line-height.normal
    color: colors.foreground
    font-size: 14px
    +mq-bp(md, min)
        font-size: 16px

a
    text-decoration: none
    color: colors.link

.site-header,
.page-section,
.site-footer
    @extends $page-container

.background-texture
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -1;

.header-row
    @extends $row
    +mq-bp(xsl, min)
        display: flex
        align-items: stretch

.site-title,
.site-avatar
    @extends $col-xs-24, $col-xsl-12
    +mq-bp(xsl, min)
        display: flex
        justify-content: center
        flex-direction: column


.site-title
    @extends $text-mono
    font-size: 16px
    text-align: center
    margin: 1em auto 1.5em
    +mq-bp(xsl)
        font-size: (16px / 3 * 3.5)
    +mq-bp(sm)
        font-size: (16px / 3 * 4)
    +mq-bp(md, min)
        font-size: (16px / 3 * 5)

    &::before
        @extends $logo-text--pseudo
        line-height: 1
        font-size: 3em;
        display: block
        margin: 0 auto .2em auto


.avatar
    border-radius: 50%
    overflow: hidden
    height: auto
    margin: 0 auto 30px auto
    width: 100%
    max-width: 180px
    +mq-bp(xsl)
        max-width: 210px
    +mq-bp(xsl, min)
        margin-top: 30px
    +mq-bp(sm)
        max-width: 240px
    +mq-bp(md, min)
        max-width: 300px

.avatar__img
    @extends $img-responsive

.msg-welcome
    @extends $content-container

.info-items
    @extends $content-container

.info-items__container
    @extends $row
    margin-top: -(grid-config.gutter-width / 2)
    +mq-bp(xsl)
        margin-left: 0
        margin-right: 0
        margin-bottom: (grid-config.gutter-width / 2)

.info-item
    @extends $col-xs-24, $col-xsl-12, $col-md-6
    text-align: center
    margin-top: (grid-config.gutter-width / 2)
    +mq-bp(xsl)
        margin-top: grid-config.gutter-width


.info-item__link
    @extends $btn
    display: block

    &:hover
        border-color: colors.link

    &::before
        @extends $btn__icon

    &.is-cv::before
        @extends $icon-child

    &.is-projects::before
        @extends $icon-sliders

    &.is-linkedin::before
        @extends $icon-linkedin

    &.is-xing::before
        @extends $icon-xing


.headline
    @extends $content-container
    font-weight: 700
    text-transform: uppercase

    &::before
        content: '#'
        display: inline-block
        margin-right: .45em

// .project-list

.project-list__item
    border-top: 1px solid #808080

.project
    @extends $content-container


// .project__title

.project__images
    +mq-bp(xsl, min)
        display: flex
        justify-content: space-between

.project-image
    display: block
    margin-top: (grid-config.gutter-width / 2)

// .project-image__figure

.project-image__link
    display: block

.project-image__img
    @extends $img-responsive

// .project-links

// .project-link

// .project-link__link

.contact-container
    @extends $content-container

.contact-row
    @extends $row

.contact-address,
.contact-items
    @extends $col-xs-24, $col-xsl-12

.contact-item
    +mq-bp(xs)
        margin-top: (grid-config.gutter-width / 2)
    + .contact-item
        margin-top: (grid-config.gutter-width / 2)
        +mq-bp(sm, min)
            margin-top: grid-config.gutter-width

.contact-item__link
    @extends $btn
    width: 100%

    &::before
        @extends $btn__icon

    &.is-mail::before
        @extends $icon-envelope

    &.is-phone::before
        @extends $icon-microphone

.footer-container
    @extends $content-container

.link-home
    @extends $logo-text
    font-size: 24px
