/**
 * + Typo
 * =====================================================================
 */

$text-sans
    font-family: font-family.sans-serif

$text-mono
    font-family: font-family.monospace

$text-champagne
    font-family: font-family.champagne

$font-style__headline
    font-weight: 700
    //text-transform: uppercase
    letter-spacing: .05em

/* = Typo */
