---
siteDescription: 'question problem error electroC'
---

header
    h1.logo

    p Hallo, ich bin electroC.
    p Ich produziere und entwickle sinnvolle und hilfreiche elektronische Geräte und Systeme.
    p Seit 2011 finden sie mich in der Werkstatt im Studio-U in Berlin.
    p Gemeinsam mit meinen Partnern konnte ich vielseitige <a href="/portfolio">Projekte</a> begleiten.
