---
siteDescription: 'question problem error electroC'
---

header
    h1.logo

    p Hallo, ich bin electroC.
        | Ich produziere und entwickle sinnvolle und hilfreiche elektronische Geräte und Systeme.
        | Spezialisiert auf Prototypenbau und Kleinserien im Licht-Sektor
        | Seit 2011 finden sie mich in der Werkstatt im Studio-U in Berlin.
        |  Gemeinsam mit meinen Partnern konnte ich vielseitige <a href="/portfolio">Projekte</a> begleiten.
