---
template: question-problem-error.jade
siteDescription: 'question problem error emergency'
---

header
    .logo

section
    h2 question problem error
    p mail <a href="mailto:#{cnrb.email}?subject=question problem error")>#{cnrb.email}</a>

    p call <a href="tel:#{cnrb.phone}">#{cnrb.phone}</a>
