---
siteDescription: 'about electroC'
---

header
    h1.logo

section
    p Hallo, ich bin electroC.
        | Ich produziere und entwickle sinnvolle und hilfreiche elektronische Geräte und Systeme.
        | Spezialisiert auf Prototypenbau und Kleinserien im Licht-Sektor
        | Seit 2011 finden sie mich in der Werkstatt im Studio-U in Berlin.

    p hier gibts ein random bilder array
