---
siteDescription: 'about electroC'
---

header
    h1.logo

section
    p electroC produziert und entwicklt sinnvolle und hilfreiche elektronische Geräte und Systeme.
        | Spezialisiert auf Prototypenbau und Kleinserien im Licht-Sektor.
        | Zu finden seit 2011 in der Werkstatt im Studio-U in Berlin.
    p freunde und partner von electroC

    a(href="http://simbo.ninja" target="_blank" title="Simon Lepel")
    a(href="http://eundich.de" target="_blank" title="E+ICH")
    a(href="http://benroth.info" target="_blank" title="Ben Roth")
    a(href="http://markushoffmann.cc" target="_blank" title="Markus Hoffmann")
    a(href="https://vimeo.com/user7661433" target="_blank" title="Cornelius Diemer")

    p hier gibts ein random bilder array
