@import 'variables'

use('collection/plugins/to-string.js')

@import 'collection/functions/*'
@import 'collection/mixins/*'

@import 'collection/modules/mediaquery-placeholders'

create-grid(grid-config);

@import 'collection/modules/reset-and-normalize'
@import 'collection/modules/responsive-helpers'

@import 'icons'
@import 'styles'
