@import 'variables'

html, body, h1, h2
    margin:0
    padding:0

body
    background:#111
    color:#f0f0f0
    font-family: ChampagneLimousines, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif
    font-size:12px
    line-height:1em
    overflow:hidden

a,
a:link,
a:hover,
a:visited,
a:active
    color:#f0f0f0
    text-decoration:none

a:hover
    color:#fcf

header
    box-sizing: border-box
    height:1.5em
    min-height:26px
    padding: .3em 0 0 .3em

h1, h2, p
    margin:0 0 0 .3em
    padding:0
    white-space:nowrap
    font-size:1em
    font-weight:normal

h1
    margin: 0
    font-size:20px
    line-height:20px
    letter-spacing:.1em

.logo
    width: 222px;

    &::before
        display: block;
        content: '';
        width: 100%;
        padding-bottom: (100% / images.logo.ratio);
        background: images.logo.dataUri center center no-repeat;
        background-size: cover