@require 'variables'

@require 'collection/main'

@require 'typo'
@require 'global'

body
    background: colors.black
    color: colors.white
    font-family: font-family.champagne
    font-size: 16px
    line-height: line-height-normal

a
    color: colors.white
    text-decoration:none

    &:hover
        color:#fcf

#text-flicker
    font-size:1.1em
